
:root{
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;

}



html {
    font-family: 'Roboto', sans-serif;

}

body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none; /*nenhume elemento 'a' (link) será sublinhado */
}

h1, h2, h3, h4, h5, h6{

    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

/*Box Model

Cada elemento está dentro uma caixa
Toda caixa tem: Largura, altura, preenchimento, cor, bordas, fundo, maneira que é vista pelo html(display)
Alinhamento, posicionamento.

*/


